[Unit]

Description=uWSGI service

After=syslog.target

 

[Service]

ExecStart=/home/ubuntu/patrol_test/bin/uwsgi -i /srv/patrol_test/.config/uwsgi/mysite.ini

 

Restart=always

KillSignal=SIGQUIT

Type=notify

StandardError=syslog

NotifyAccess=all

 

[Install]

WantedBy=multi-user.target
